<template>
  <div class="container">
    <div class="section">
      <div class="card">
        <header class="card-header">
          <h1 class="card-header-title">Please enter your Name to get started!</h1>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field">
              <label class="label">First Name</label>
              <div class="control">
                <input class="input" type="text" v-model="user.firstName">
              </div>
            </div>
            <div class="field">
              <label class="label">Last Name</label>
              <div class="control">
                <input class="input" type="text" v-model="user.lastName">
              </div>
            </div>
          </div>
        </div>
        <footer class="card-footer">
          <button class="card-footer-item button" v-on:click="createUserOnClick()">Create User</button>
          <button id="navigate" class="card-footer-item button" v-on:click="navigate()" disabled>Get Started</button>
        </footer>
      </div>
    </div>
  </div>

</template>

<script>
  import router from '../router';
  import axios from 'axios';

  export default {
    name: 'EnterPage',


    data() {
      return {
        id: 0,
        userName: '',
        title: 'Hello World',
        user: {
          id: 0,
          firstName: '',
          lastName: '',
        }
      };
    },

    methods: {
      setCookie(key, value) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
      },
      navigate() {
        this.setCookie("id", this.user.id);
        router.push({name: 'SecondPage'});
      },
      createUserOnClick() {
        axios.post('http://localhost:3000/graphql', {
          query: 'mutation sendData($userName: String!,$lastName:String!){createUser(first_name:$userName, last_name:$lastName) {id, first_name, last_name}}',
          variables: {
            userName: this.user.firstName,
            lastName: this.user.lastName
          },
        }).then(response => {
          //console.log(response);
          //save user
          this.user.id = (response.data.data.createUser.id);
          this.user.first_name = response.data.data.createUser.first_name;
          this.user.last_name = response.data.data.createUser.last_name;

          //enable button
          document.getElementById("navigate").disabled = false;

          // this.totalUsers = response.data.data.totalUsers
        }).catch(error => {
          console.log(error);
        })
      },
      getUserName() {
        axios.post('http://localhost:3000/graphql', {
          query: 'query user($id : Int!){user(id:$id){first_name}}',
          variables: {id: this.id},
        }).then(response => {
          //console.log(response.data.data.user);
          this.userName = (response.data.data.user.first_name);
          //console.log(response.data.data.user.first_name);
          this.user = response.data.data.user;
        }).catch(error => {
          console.log(error);
        })
      },

    }
  };
</script>

<style scoped>
  h1 {
    font-weight: bold;
    color: white;
  }

  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
