<template>
  <div class="container">

    <div class="section">
      <div class="card">
        <header class="card-header">
          <h1 class="card-header-title">Overview</h1>
        </header>
        <div class="card-content">
          <div class="content">
            <h6>Total Users in GraphQL: <span> {{totalUsers}} </span></h6>
            <h6>Username:<span> {{username}}</span></h6>
          </div>
        </div>
        <footer class="card-footer overview-footer">
          <button class="card-footer-item button" v-on:click="getAllMessages()">Get latest Messages</button>
        </footer>
      </div>
    </div>

    <div class="section">
      <div class="card">
        <header class="card-header">
          <h1 class="card-header-title">
            Chat
          </h1>
        </header>
        <div class="card-content">
          <div class="content">
            <article class="message is-dark" v-for="message in messages">
              <div class="message-body">
                <strong>{{ message.username }}</strong> {{ message.content }}
              </div>
            </article>
          </div>
        </div>
        <footer class="card-footer overview-footer">
          <input class="card-footer-item input" type="text" v-model="message" placeholder="Enter Message:">
          <button class="card-footer-item button send" v-on:click="onSubmit()">Send</button>
        </footer>
      </div>
    </div>

  </div>

</template>

<script>
  import axios from 'axios';
  import router from '../router';

  export default {
    name: 'SecondPage',

    data() {
      return {
        messages: [],
        message: '',
        totalUsers: '',
        username: '',
        user: {
          id: 0,
          first_name: '',
          last_name: '',
        }
      };
    },

    mounted: function () {
      this.user.id = this.getCookie("id");

      this.getUsers();
      this.getAllMessages();

      this.getUserName(this.user.id);

    },

    methods: {

      getCookie(key) {
        let keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
      },
      onSubmit() {
        this.createMessage();
        this.getAllMessages();
      },
      getAllMessages() {
        axios.post('http://localhost:3000/graphql', {
          query: 'query {allMessages {id, username, content}}'
        }).then(response => {
          //console.log(response.data.data.allMessages);
          this.messages = response.data.data.allMessages;

        }).catch(error => {
          console.log(error);
        })
      },
      createMessage() {
        axios.post('http://localhost:3000/graphql', {
          query: 'mutation sendData($content: String!,$username:String!){createMessage(content:$content, username:$username) {id, content, username}}',
          variables: {
            content: this.message,
            username: this.username
          },
        }).then(response => {
          //console.log(response);
          //updated messages
          this.getAllMessages();
        }).catch(error => {
          console.log(error);
        })
      },
      getUsers() {
        axios.post('http://localhost:3000/graphql', {
          query: '{totalUsers}'
        }).then(response => {
          //console.log(response.data.data.totalUsers);
          this.totalUsers = response.data.data.totalUsers
        }).catch(error => {
          console.log(error);
        })
      },
      getUserName(userId) {
        axios.post('http://localhost:3000/graphql', {
          query: 'query user($id : Int!){user(id:$id){id, first_name, last_name}}',
          variables: {id: userId},
        }).then(response => {
          //console.log(response.data.data.user);
          this.user = response.data.data.user;
          this.username = this.user.first_name + " " + this.user.last_name;
          if(this.username.length <2){
            this.username = "Anonymous";
          }
        }).catch(error => {
          console.log(error);
        })
      }, //New Function für den Namen
    },

  };
</script>


<style scoped>
  h1 {
    font-weight: bold;
    color: white;
  }

  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  h6{
    font-weight: normal;
  }
  h6 span {
    color: #42b983;
  }
</style>
