@import '~bulma/bulma';


.button {
  padding-bottom: 2rem !important;
  font-weight: bold;
  color: white !important;
  background-color: #2c3e50 !important;
}

.button:hover {
  color: #42b983 !important;
}

.button[disabled] {
  border-color: None !important;
  opacity: 1 !important;
  background-color: #dbdbdb !important;
  padding-bottom: 2rem !important;
}

.overview-footer{
  margin-top: 0;
}

.message-body{
  text-align: left !important;
}

.input{
  padding-bottom: 1.4rem !important;
  padding-top: 1.3rem !important;
}


