<template>
  <div id="app">
    <header id="header">
      <span>Chat Application</span>
    </header>
    <main>
      <router-view></router-view>
    </main>
    <footer> <span> by Erik Thiele and Hanna Wagner </span></footer>
  </div>
</template>

<script>
import Test from './components/Test';

export default {
  name: 'App',
  components: {
    Test,
  },
};
</script>

<style lang="scss">
  @import '~bulma/bulma';
</style>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin-top: -60px;
  height: 56px;
  background-color: #2c3e50;
  color: #ffffff;
}
#header{
  background-color: #42b983;
}

footer {
  margin-top: 20px;
  height: 40px;
  background-color: #42b983;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

footer span {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 14px;
}
</style>
